<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773056936878-0fbeveb7c8k9o6dqs1hergam4orpj8af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773056936878-0fbeveb7c8k9o6dqs1hergam4orpj8af</string>
	<key>API_KEY</key>
	<string>AIzaSyBLi5vQJpBPwN_oAja4ASZDtRqA80LcKm0</string>
	<key>GCM_SENDER_ID</key>
	<string>773056936878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.tdlab.hackathonDemo</string>
	<key>PROJECT_ID</key>
	<string>td-hackathon-s-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>td-hackathon-s-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773056936878:ios:0ebc4f077deea09b</string>
	<key>DATABASE_URL</key>
	<string>https://td-hackathon-s-2019.firebaseio.com</string>
</dict>
</plist>